:local .stopwatchTime{
    font-size: 20vw;
    line-height: 110%;
}

:local .stopWatchMilliSeconds{
    font-size: 7vw;
}

:local .stopwatchButtons{
    width: 100%;
    margin-top: auto;
}

:local .stopwatchButtons ul{
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

:local .stopwatchButtons li{
    font-size: 20pt;
    border-top: 1px solid #555;
    padding: 2vh 0;
    display: inline-block;
    color: #ddd;
    background: black;
    display: table-cell;
    cursor: pointer;
}

:local .stopwatchButtons li:hover{
    background: #222;
}

:local .stopwatchButtons li:nth-child(odd){
    border-right: 1px solid #555;
}

:local .stopwatchLaps{
    overflow-y: auto;
}

:local .stopwatchLaps ul{
    list-style: none;
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

:local .stopwatchLapsNum{
    margin-right: 3vw;
}

.container{
    display: flex;
    flex-direction: column;
}